---
layout: default
title: Kadafi's Portfolio
permalink: /
---
<div class="w-full *:pb-8">
  <section id="hero" class="*:text-white h-72 sm:h-96 lg:h-screen p-3 dark:bg-radial-gradient-bottom-left">
    <ul class="bg-slate-700 absolute p-3 left-0 h-screen top-0 z-10 w-52 invisible">
      <li>Home</li>
      <li>About</li>
      <li>Technolgy</li>
      <li>Blog</li>
    </ul>
    <div
      class="hero-image bg-hero2 dark:bg-hero1 w-full h-full bg-no-repeat bg-center bg-cover rounded-lg shadow-custom">
      <div class="h-full w-full flex flex-col backdrop-brightness-50 rounded-lg p-3 lg:p-8">
        <nav class="flex justify-between flex-grow-1">
          <a href="{{site.baseurl}}/" class="relative font-medium text-md sm:text-xl">Rizki Kadafi</a>
          <div class="flex">
            <ul class="hidden sm:flex *:mx-5">
              <li><a href="#hero">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#technology">Technolgy</a></li>
              <li><a href="#blog">Blog</a></li>
            </ul>
            <div class="*:cursor-pointer">
              <i id="dark-mode" class="bi bi-moon-stars-fill mr-2 text-lg dark:hidden"></i>
              <i id="light-mode" class="bi bi-brightness-high-fill mr-2 text-xl hidden dark:inline-block"></i>
              <i class="bi bi-list sm:hidden text-xl"></i>
            </div>
          </div>
        </nav>
        <div class="h-full flex flex-col justify-center items-center">
          <h1 class="font-bold text-xl lg:text-3xl">🚀 Hi, I'm Muhamad Rizki 🚀</h1>
          <div class="text-xs lg:text-base text-center my-3 sm:my-4">
            <p>
              A tech and open-source 🌐 enthusiast!
            </p>
            <p>
              Let's team up and code 💻 for a better tomorrow!
            </p>
          </div>

          <a href="#contact"
            class="text-center bg-slate-500 hover:bg-slate-700 active:bg-slate-700 w-32 rounded-3xl py-2 text-xs lg:text-base">Contact
            Me</a>
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="px-5 dark:bg-radial-gradient-diagonal">
    {% include header-title.html title='About Me' subtitle='A short description about me' %}

    <div class="flex flex-col">
      <div class="bg-slate-800 dark:bg-slate-700 rounded-md w-1/2 mx-auto mb-5 shadow-custom">
        <img src="/assets/image/profile.png" class="mx-auto border-r-indigo-100" alt="">
      </div>
      <div>
        <p class="px-5 text-justify text-sm dark:text-white">
          🎓 I am a Computer Science student at Jakarta State University (Universitas Negeri Jakarta). My journey in
          technology has been an exciting exploration, one that continues to be driven by a desire to embrace innovation
          and contribute to the ever-evolving world of open source.
        </p>
      </div>
    </div>
  </section>

  <section id="technology" class="dark:bg-radial-gradient-diagonal-reverse">
    {% include header-title.html title='Technolgy' subtitle='The technology I use or that I am learning about' %}
    {% include tech_card.html data=site.data.programming_languages %}
    {% include tech_card.html data=site.data.frameworks_libraries %}
  </section>

  <section id="project" class="dark:bg-radial-gradient-diagonal">
    {% include header-title.html title='Projects' subtitle="Projects that I have worked on" %}
    <div class="dark:text-white flex flex-grow-0">
      <div>
        <ul>
          <li class="flex">
            <h4>Project 1</h4>
            <button type="button">
              <i class="bi bi-arrow-right-circle"></i>

            </button>
          </li>
        </ul>
      </div>
      <div>

      </div>
    </div>
  </section>

  <section id="contact" class="dark:bg-radial-gradient-top-right">
    {% include header-title.html title='Contact Me' subtitle="Let's connect with me" %}

    <div class="px-3 mb-5 box-border text-white">
      <div class="bg-slate-800 dark:bg-slate-700 rounded-md shadow-custom p-3">
        <div class="flex *:mx-2 justify-center text-center mb-3 py-3 border-b-slate-600 border-b-2">
          <div>
            <a href="https://github.com/rizkikadafi" class="text-xs block">
              <i class="bi bi-github text-2xl"></i>
              rizkikadafi
            </a>
          </div>
          <div>
            <a href="mailto: rizkikadafi11@gmail.com" class="text-xs block">
              <i class="bi bi-envelope text-2xl"></i>
              rizkikadafi11@gmail.com
            </a>
          </div>
          <div>
            <a href="https://www.linkedin.com/in/rizkikadafi" class="text-xs block">
              <i class="bi bi-linkedin text-2xl"></i>
              rizkikadafi
            </a>
          </div>
        </div>
        <div class="text-xs text-center">
          <p><i class="bi bi-c-circle"></i> 2024 Muhamad Rizki Kadafi. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </section>
</div>
