<div class="swiper-slide bg-slate-700 dark:bg-slate-700 text-white p-2 lg:p-3 rounded-md shadow-custom">
  <div class="flex flex-col justify-between h-full">
    <div class="text-center sm:text-left">
      <img src="{{ include.img }}" alt="{{ include.name }}" class="rounded-md">
      <div class="mt-3 mb-5">

        <h4 class="font-bold sm:text-lg">{{ include.name }}</h4>
        <p class="text-xs md:text-base">
          {{ include.desc }}
        </p>
      </div>
    </div>

    <div
      class="text-2xl flex justify-center sm:justify-start *:mx-2 sm:*:mx-0 sm:*:mr-3 *:transition-transform hover:*:scale-150 *:duration-100">
      <a href="{{include.link.github}}" target="_blank" class=""><i class="bi bi-github"></i></a>
      {% if include.link.deployment %}
      <a href="{{include.link.deployment}}" target="_blank" class=""><i class="bi bi-link-45deg"></i></a>
      {% endif %}
    </div>
  </div>
</div>
