<div class="swiper-slide bg-slate-700 dark:bg-slate-700 text-white p-2 rounded-md shadow-custom">
  <div class="flex flex-col justify-between h-full">
    <div class="text-center">
      <img src="{{ include.img }}" alt="{{ include.name }}" class="rounded-md mb-3">
      <h4 class="font-bold">{{ include.name }}</h4>
      <p class="text-xs">
        {{ include.desc }}
      </p>
    </div>

    <a href=""
      class="text-center bg-slate-600 hover:bg-slate-800 dark:hover:bg-slate-800 active:bg-slate-700 rounded-lg py-2 px-4 text-xs lg:text-base mt-5 block w-full">Details</a>
  </div>
</div>
