<nav id="sticky-nav"
  class="invisible flex justify-between flex-grow-1 bg-slate-600 right-3 left-3 top-3 text-gray-200 z-10 items-center fixed px-5 py-3 rounded-md shadow-custom-lg dark:shadow-custom transition-transform duration-500 -translate-y-5">
  <a href="{{site.baseurl}}/" class="relative font-medium text-md sm:text-xl">Rizki Kadafi</a>
  <div class="flex">
    <ul class="hidden sm:flex *:mx-5">
      <li><a href="#hero">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#technology">Technolgy</a></li>
      <li><a href="#blog">Blog</a></li>
    </ul>
    <div class="*:cursor-pointer">
      <i id="dark-mode" class="bi bi-moon-stars-fill mr-2 text-lg dark:hidden"></i>
      <i id="light-mode" class="bi bi-brightness-high-fill mr-2 text-xl hidden dark:inline-block"></i>
      <i data-modal-target="top-right-modal" data-modal-toggle="top-right-modal"
        class="bi bi-list sm:hidden text-xl"></i>
    </div>
  </div>
</nav>
