<div class="px-3 pb-3">
  <div class="bg-slate-600/70 dark:bg-slate-700 rounded-md shadow-custom-lg dark:shadow-custom p-3">
    <h3 class="text-sm text-white text-center font-bold mb-3">{{ include.title }}</h3>
    <div class="*:w-7 lg:*:w-10 *:mx-1 flex flex-wrap justify-center">

      {% for item in include.data %}
      <a href="{{ item.doc }}">
        <img src="{{ item.src }}" alt="{{ item.name }}" class="hover:transform hover:scale-150 transition duration-100">
      </a>
      {% endfor %}
    </div>
  </div>
</div>
