---
layout: blog
title: Kadafi's Blog
permalink: /blog
---

<div class="w-full dark:text-white">
  <section id="dashboard"
    class="h-72 sm:h-96 p-5 px-8 sm:px-14 dark:bg-radial-gradient-top-left flex flex-col justify-center items-center">

    <div class="h-full w-full flex flex-col justify-center items-center pt-12">

      <div class="text-center">
        <h1 class="font-bold text-xl sm:text-2xl lg:text-3xl">Welcome to Kadafi's Blog</h1>
        <p class="text-xs sm:text-base text-center my-3 sm:my-4">
          This blog is a place for me to share my knowledge related to computer science and mathematics
        </p>
      </div>

      <a href="{{site.baseurl}}/"
        class="text-center bg-slate-400 hover:bg-slate-500 dark:bg-slate-500 dark:hover:bg-slate-700 active:bg-slate-700 w-32 rounded-3xl py-2 text-xs lg:text-base">
        About Me
      </a>
    </div>

  </section>

  <section id="category" class="p-5 sm:px-12">
    <div
      class="mx-auto bg-slate-400/70 border-slate-200 dark:bg-slate-700/70 backdrop-blur-md dark:border-slate-500 border-[1px] p-3 rounded-md shadow-custom lg:w-5/6">

      {% include header-title.html title='Category' %}

      <div class="swiper category-swiper mx-auto sm:w-[95%]">
        <div class="swiper-wrapper">

          {% assign sort_category = site.categories | sort %}

          {% for category in sort_category %}
          {% if category[0] == 'blog' %}
          {% continue %}
          {% endif %}

          {% assign sort_category_data = site.data.blog-category | sort: "name" %}
          {% assign img = sort_category_data[forloop.index0].img %}
          {% assign desc = sort_category_data[forloop.index0].desc %}

          {% include blog-category-card.html category=category desc=desc img=img %}
          {% endfor %}
        </div>
      </div>
      <div class="w-full flex justify-between items-center mt-3 sm:px-4 lg:px-5">
        <div class="flex">
          <div class="group button-prev mr-3">
            <i class="bi bi-arrow-left-circle text-3xl group-hover:hidden"></i>
            <i class="hidden bi bi-arrow-left-circle-fill text-3xl group-hover:block"></i>
          </div>
          <div class="group button-next">
            <i class="bi bi-arrow-right-circle text-3xl group-hover:hidden"></i>
            <i class="hidden bi bi-arrow-right-circle-fill text-3xl group-hover:block"></i>
          </div>
        </div>
        <a href="{{site.baseurl}}/blog/category" class="group flex justify-center items-center text-sm hover:underline">
          <span class="block mr-2">view all category</span>
          <i class="bi bi-arrow-right block mt-[4px] group-hover:translate-x-2 transition-transform"></i>
        </a>
      </div>
    </div>

  </section>

  <section id='recent' class="p-5">
    {% include header-title.html title='Recent Posts' %}
    {% for post in site.posts %}
    <div
      class="my-5 bg-slate-400/70 border-slate-200 dark:bg-slate-700/70 backdrop-blur-md dark:border-slate-500 border-[1px] p-4 rounded-md shadow-custom transition-transform hover:-translate-y-2 duration-200">

      {% if post.thumbnail %}
      <img src="{{ post.thumbnail }}" alt="" class="w-full rounded-md">
      {% endif %}

      {% for tag in post.tags %}
      <a href=""
        class="inline-block mr-2 my-3 text-sm bg-slate-500/70 backdrop-blur-md rounded-xl px-4 py-[2px] text-slate-200">{{tag}}</a>
      {% endfor %}

      <div>
        <span class="text-sm">{{ post.author }} - {{ post.date | date_to_string }}</span>
      </div>

      <div class="">
        <h2 class="text-xl font-bold">{{ post.title }}</h2>
        <p class="text-sm text-justify">
          {{ post.excerpt }}
        </p>

        <a href="{{post.url}}" class="group w-fit mt-3 flex justify-start items-center text-sm hover:underline">
          <span class="block mr-2">Read more</span>
          <i class="bi bi-arrow-right block mt-[4px] group-hover:translate-x-2 transition-transform"></i>
        </a>
      </div>
    </div>
    {% endfor %}
  </section>
</div>
