---
layout: blog
permalink: /blog/category
---

<div class="w-full dark:text-white">
  {% for category in site.categories %}
  {% if category[0] == 'blog' %}
  {%continue%}
  {% endif %}
  <section id="{{category[0]}}" class="lg:px-5 flex flex-col justify-center items-center pt-14">
    <div class="text-center mb-5">
      <h1 class="font-bold text-xl sm:text-2xl lg:text-3xl">{{category[0] | capitalize}}</h1>
      <p class="w-3/5">{{page.desc}}</p>
    </div>
    <div class="w-full px-8 mb-10 grid sm:grid-cols-3 justify-center gap-5">
      {% for post in category[1] %}
      {% include blog-post-card.html post=post %}
      {% endfor %}
    </div>
  </section>
  {% endfor %}
</div>
