---
layout: blog
---

<div class="w-full dark:text-white">
  <section id="hero"
    class="h-60 sm:h-72 p-5 sm:p-3 dark:bg-radial-gradient-top-left flex flex-col justify-center items-center pt-14">

    {% include blog-modal-navigation.html %}
    <div class="text-center">
      <h1 class="font-bold text-xl sm:text-2xl lg:text-3xl">{{page.category | capitalize }} Category</h1>
      <p class="w-3/5">{{page.desc}}</p>
    </div>
  </section>

  <div class="w-full px-8 mb-10 grid sm:grid-cols-3 justify-center gap-5">
    {{ content }}
  </div>
</div>
